
.title{
    color: #e5e5e5;
}
.body{
    background-color: #000000;
}
.header-nav-h4{
    color: #e5e5e5;
    font-size: 24px;
    margin-left: 650px;
}
.header-nav-h4-u{
    color: #0085FF ;
    font-family: Roboto;
}
.header-nav-h4-u-span{
    color: #e5e5e5;
    margin-left: 45px;
}
span:hover{
    cursor: pointer;
    color: #0085FF;
}
.main-p{
    position: relative;
    bottom: 650px;
    left: 400px;
    color: #e5e5e5;
    font-size: 50px;
    font-family: Roboto;
}
p:hover{
    cursor: pointer;
    color: #0085FF;
}
.main-p-span{
    color: #0085FF;
    font-size: 50px;
    font-family: Roboto;
}
.span{
    position: relative;
    right: 100px;
}
.span1{
    position: relative;
    right: 160px;
}