
.title {
    color: #e5e5e5;
}

.body {
    background-color: #000000;
}

.header-nav-h2 {
    width: 300px;
    position: relative;
    left: 750px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}

.header-nav-h2-span {
    color: #0085FF;
}

.section {
    width: 300px;
    position: relative;
    left: 200px;
    top: -50px;
    color: #0085FF;
    box-shadow: 22px 18px 10px 0px #0085FF;

}

.main-section {
    width: 300px;
    position: relative;
    top: -450px;
    left: 80px;
    color: #e5e5e5;
    font-size: 40px;
    font-family: Roboto;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 1;
}

.main-section-span {
    font-size: 42px;
    font-family: Roboto;
}

.main-p {
    width: 300px;
    position: relative;
    top: -550px;
    left: 200px;
    color: #e5e5e5;
    background-color: #0085FF;
    font-size: 36px;
    font-family: Roboto;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: darkblue;
}

@keyframes test {
    from {
        transform: translate(300px);
    }
}

@media all and (min-width: 320px) and (max-width: 375px) {
    .header-nav-h2 {
        width: 300px;
        position: relative;
        top: -23px;
        left: 92px;
        color: #e5e5e5;
        font-size: 33px;
        font-family: Roboto;
    }

    .section {
        width: 150px;
        position: relative;
        left: 90px;
        top: -34px;
        color: #0085FF;
        box-shadow: 17px 13px 8px 0px #0085ff;
    }

    .main-section {
        width: 300px;
        position: relative;
        top: -19px;
        left: -183px;
        color: #e5e5e5;
        font-size: 16px;
        font-family: Roboto;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }

    .main-p {
        width: 300px;
        position: relative;
        top: -50px;
        left: 5px;
        color: #e5e5e5;
        background-color: #0085FF;
        font-size: 19px;
        font-family: Roboto;
        text-decoration: none;
    }
}
@media all and (min-width: 375px) and (max-width: 425px) {
    .header-nav-h2 {
        width: 300px;
        position: relative;
        top: -23px;
        left: 92px;
        color: #e5e5e5;
        font-size: 33px;
        font-family: Roboto;
    }

    .section {
        width: 150px;
        position: relative;
        left: 90px;
        top: -34px;
        color: #0085FF;
        box-shadow: 17px 13px 8px 0px #0085ff;
    }

    .main-section {
        width: 300px;
        position: relative;
        top: -19px;
        left: -183px;
        color: #e5e5e5;
        font-size: 16px;
        font-family: Roboto;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }

    .main-p {
        width: 300px;
        position: relative;
        top: -55px;
        left: -27px;
        color: #e5e5e5;
        background-color: #0085FF;
        font-size: 19px;
        font-family: Roboto;
        text-decoration: none;
    }
}
@media all and (min-width: 425px) and (max-width: 768px) {
    .header-nav-h2 {
        width: 300px;
        position: relative;
        top: -20px;
        left: 127px;
        color: #e5e5e5;
        font-size: 33px;
        font-family: Roboto;
    }

    .section {
        width: 152px;
        position: relative;
        left: 118px;
        top: -34px;
        color: #0085FF;
        box-shadow: 17px 13px 8px 0px #0085ff;
    }

    .main-section {
        width: 300px;
        position: relative;
        top: -27px;
        left: -223px;
        color: #e5e5e5;
        font-size: 20px;
        font-family: Roboto;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }

    .main-p {
        width: 300px;
        position: relative;
        top: -67px;
        left: -17px;
        color: #e5e5e5;
        background-color: #0085FF;
        font-size: 22px;
        font-family: Roboto;
        text-decoration: none;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    .header-nav-h2 {
        width: 300px;
        position: relative;
        top: -15px;
        left: 308px;
        color: #e5e5e5;
        font-size: 33px;
        font-family: Roboto;
    }

    .section {
        width: 160px;
        position: relative;
        left: 80px;
        top: 7px;
        color: #0085FF;
        box-shadow: 17px 13px 8px 0px #0085ff;
    }

    .main-section {
        width: 300px;
        position: relative;
        top: -228px;
        left: -16px;
        color: #e5e5e5;
        font-size: 23px;
        font-family: Roboto;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }

    .main-p {
        width: 300px;
        position: relative;
        top: -261px;
        left: 77px;
        color: #e5e5e5;
        background-color: #0085FF;
        font-size: 29px;
        font-family: Roboto;
        text-decoration: none;
    }
}
@media all and (min-width: 1024px) and (max-width: 1440px){
    .header-nav-h2 {
        width: 300px;
        position: relative;
        top: -15px;
        left: 431px;
        color: #e5e5e5;
        font-size: 44px;
        font-family: Roboto;
    }
    .section {
        width: 212px;
        position: relative;
        left: 80px;
        top: 7px;
        color: #0085FF;
        box-shadow: 24px 18px 8px 0px #0085ff;
    }

    .main-section {
        width: 300px;
        position: relative;
        top: -318px;
        left: -59px;
        color: #e5e5e5;
        font-size: 32px;
        font-family: Roboto;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }

    .main-p {
        width: 300px;
        position: relative;
        top: -381px;
        left: 95px;
        color: #e5e5e5;
        background-color: #0085FF;
        font-size: 37px;
        font-family: Roboto;
        text-decoration: none;
    }
}