
.title{
    color:#e5e5e5;
}
.body{
    background-color: #000000;
}
.header-nav-h2{
    width: 300px;
    position: relative;
    left: 650px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.header-nav-h2-span{
    color: #0085FF;

}


.section1{
    position: absolute;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    left:50px;
}
.section2{
    position: absolute;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    left:425px;
}
.section3{
    position: absolute;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    left: 800px;
}
.section4{
position: absolute;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    right:55px;
}

.main-section-h4{
    position: relative;
    /*left: 10px;*/
    top: 110px;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 110px;
    color:  #000000;
    font-size: 36px;
    font-family: Roboto;
}

a:hover{
    cursor: pointer;
    color: #0085FF;
}
.span{
    position: relative;
    left: 15px;
    top: 150px;
    color: #C4C4C4;
    font-style:normal;
    font-size: 36px;
    font-family: Roboto;
}
.span1{
    position: relative;
    left: 325px;
    top: 70px;
    color: #C4C4C4;
    font-style:normal;
    font-size: 36px;
    font-family: Roboto;
}
