
.title{
    color:#e5e5e5;
}
.body{
    background-color: #000000;
}
.header-nav-h2{
    width: 300px;
    position: relative;
    left: 650px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.header-nav-h2-span{
    color: #0085FF;

}


.section1{
    position: absolute;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    left:50px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section2{
    position: absolute;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    left:425px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section3{
    position: absolute;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    left: 800px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section4{
position: absolute;
    background: #C4C4C4;
    width: 300px;
    height: 300px;
    right:55px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}

.main-section1{
    position: relative;
    top: 110px;
    text-decoration: none;
    margin-left:25px;
    margin-top: 110px;
    color:  #000000;
    font-size: 36px;
    font-family: Roboto;
}
.main-section2{
    position: relative;
    top: 110px;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 110px;
    color:  #000000;
    font-size: 36px;
    font-family: Roboto;
}
.main-section3{
    position: relative;
    top: 110px;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 110px;
    color:  #000000;
    font-size: 36px;
    font-family: Roboto;
}
.main-section4{
    position: relative;
    top: 110px;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 110px;
    color:  #000000;
    font-size: 36px;
    font-family: Roboto;
}

a:hover{
    cursor: pointer;
    color: #0085FF;
}
@keyframes test {
    from{
        transform:skew(100deg);
        background-color:#0085FF ;
    }
}
@media all and (min-width: 320px) and (max-width: 375px) {
    .header-nav-h2 {
        width: 300px;
        position: relative;
        left: 80px;
        color: #e5e5e5;
        font-size: 30px;
        font-family: Roboto;
    }
    .section1 {
        position: absolute;
        background: #C4C4C4;
        width: 200px;
        height: 120px;
        left: 60px;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
    .section2 {
        position: absolute;
        background: #C4C4C4;
        width: 200px;
        height: 120px;
        left: 60px;
        top: 220px;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
    .section3 {
        position: absolute;
        background: #C4C4C4;
        width: 200px;
        height: 120px;
        left: 59px;
        top: 360px;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
    .section4 {
        position: absolute;
        background: #C4C4C4;
        width: 200px;
        height: 120px;
        right: 60px;
        top: 503px;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
    .main-section1 {
        position: relative;
        text-decoration: none;
        margin-left: 50px;
        margin-top: 130px;
        left: 22px;
        top: 32px;
        color: #000000;
        font-size: 25px;
        font-family: Roboto;
    }
    .main-section2 {
        position: relative;
        text-decoration: none;
        margin-left: 40px;
        margin-top: 120px;
        top: 40px;
        left: 0px;
        color: #000000;
        font-size: 25px;
        font-family: Roboto;
    }
    .main-section3 {
        position: relative;
        top: 40px;
        left: -7px;
        text-decoration: none;
        margin-left: 46px;
        margin-top: 110px;
        color: #000000;
        font-size: 25px;
        font-family: Roboto;
    }
    .main-section4 {
        position: relative;
        top: 40px;
        left: 0px;
        text-decoration: none;
        margin-left: 40px;
        margin-top: 110px;
        color: #000000;
        font-size: 25px;
        font-family: Roboto;
    }
}
@media all and (min-width: 375px) and (max-width: 425px) {
    .header-nav-h2 {
        width: 300px;
        position: relative;
        left: 80px;
        color: #e5e5e5;
        font-size: 30px;
        font-family: Roboto;
    }
    .section1 {
        position: absolute;
        background: #C4C4C4;
        width: 200px;
        height: 120px;
        left: 60px;
        top: 70px;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
    .section2 {
        position: absolute;
        background: #C4C4C4;
        width: 200px;
        height: 120px;
        left: 60px;
        top: 203px;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
    .section3 {
        position: absolute;
        background: #C4C4C4;
        width: 200px;
        height: 120px;
        left: 59px;
        top: 337px;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
    .section4 {
        position: absolute;
        background: #C4C4C4;
        width: 200px;
        height: 120px;
        right: 115px;
        top: 473px;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
    .main-section1 {
        position: relative;
        text-decoration: none;
        margin-left: 50px;
        margin-top: 130px;
        left: 22px;
        top: 32px;
        color: #000000;
        font-size: 25px;
        font-family: Roboto;
    }
    .main-section2 {
        position: relative;
        text-decoration: none;
        margin-left: 40px;
        margin-top: 120px;
        top: 40px;
        left: 0px;
        color: #000000;
        font-size: 25px;
        font-family: Roboto;
    }
    .main-section3 {
        position: relative;
        top: 40px;
        left: -7px;
        text-decoration: none;
        margin-left: 46px;
        margin-top: 110px;
        color: #000000;
        font-size: 25px;
        font-family: Roboto;
    }
    .main-section4 {
        position: relative;
        top: 40px;
        left: 0px;
        text-decoration: none;
        margin-left: 40px;
        margin-top: 110px;
        color: #000000;
        font-size: 25px;
        font-family: Roboto;
    }
}