
.title{
    color: #e5e5e5;
}
.body{
    background-color: #000000;
}
.header-nav-h2 {
    align-content: center;
    display: contents;
    font-size: 55px;
    color: white;
    position: absolute;
    left: 580px;
}
.header-nav-h2-span{
    color: #0085FF;
}
.main-section-figure1{
    position: absolute;
    top: 135px;
    left: 120px;
}
.main-section{
    position:absolute;
    top: 250px;
    left: 100px;
    color: #e5e5e5;
    font-size: 30px;
}
.main-section-figure2{
    margin-left: 650px;
    margin-top: 65px;
}
.main-section-figure {
    position: absolute;
    left: 550px;
    top: 250px;
    color: #e5e5e5;
    font-size: 30px;


}
.main-section-figure3{
    position: absolute;
    bottom: 470px;
    left: 1230px;
}
.main-section-figure-figcaption{
    width: 250px;
    position:relative;
    color: #e5e5e5;
    font-size: 30px;
    bottom: 5px;
    left: 1200px;
}

figcaption:hover{
    cursor: pointer;
    color: #0085FF;
}

.footer {
    padding: 30px 10px 100px 60px;
    background-color:#201B1B;
}

.footer-h3{
    font-size: 50px;
    color: #e5e5e5;
}


.footer-h3-span{
    color: #0085FF;
}
.footer-image1{
    position: absolute;
    right:1250px;
}
.footer-image2{
    position:absolute;
    right:1050px;
}
.footer-image3{
    position:absolute;
    right:850px;
}
.footer-image4{
    position:absolute;
    right:650px;
}

.footer-image5{
    position:absolute;
    right: 450px;
}

.footer-image6{
    position:absolute;
    right:250px;
}

@media all and (min-width: 320px) and (max-width: 375px) {
    .header-nav-h2 {
        align-content: center;
        font-size: 30px;
        color: white;
        position: relative;
        left: 0px;
        top: -6px;
    }
    .main-section-figure1 {
        position: absolute;
        top: 52px;
        left: 120px;
        width: 60px;
    }
    .main-section {
        position: absolute;
        top: 115px;
        left: 118px;
        color: #e5e5e5;
        font-size: 15px;
    }
    .main-section-figure2 {
        margin-left: 650px;
        margin-top: 100px;
        width: 60px;
        position: relative;
        left: -561px;
    }
    .main-section-figure {
        position: absolute;
        left: 67px;
        top: 220px;
        color: #e5e5e5;
        font-size: 15px;
    }
    .main-section-figure3 {
        position: absolute;
        bottom: 265px;
        left: 128px;
        width: 60px;
    }
    .main-section-figure-figcaption {
        width: 236px;
        position: relative;
        color: #e5e5e5;
        font-size: 15px;
        bottom: -93px;
        left: 94px;
    }
    .footer {
        padding: 0px 0px 0px 0px;
        background-color: #000000;
    }
    .footer-h3 {
        font-size: 30px;
        color: #e5e5e5;
        position: relative;
        top: 89px;
        left: 7px;
    }
    .footer-image1 {
        position: absolute;
        right: 270px;
        top: 463px;
        width: 40px;
    }
    .footer-image2 {
        position: absolute;
        right: 217px;
        top: 463px;
        width: 40px;
    }
    .footer-image3 {
        position: absolute;
        right: 166px;
        top: 463px;
        width: 40px;
    }
    .footer-image4 {
        position: absolute;
        right: 116px;
        top: 463px;
        width: 40px;
    }
    .footer-image5 {
        position: absolute;
        right: 64px;
        top: 464px;
        width: 40px;
    }
    .footer-image6 {
        position: absolute;
        right: 12px;
        top: 464px;
        width: 40px;
    }
}


@media all and (min-width: 375px) and (max-width: 425px) {
    .header-nav-h2 {
        display: block;
        align-content: center;
        font-size: 30px;
        color: white;
        position: relative;
        left: -31px;
        top: -14px;
    }
    .main-section-figure1 {
        position: absolute;
        top: 52px;
        left: 120px;
        width: 60px;
    }
    .main-section {
        position: absolute;
        top: 115px;
        left: 118px;
        color: #e5e5e5;
        font-size: 15px;
    }
    .main-section-figure2 {
        margin-left: 650px;
        margin-top: 65px;
        width: 60px;
        position: relative;
        left: -561px;
    }
    .main-section-figure {
        position: absolute;
        left: 67px;
        top: 220px;
        color: #e5e5e5;
        font-size: 15px;
    }
    .main-section-figure3 {
        position: absolute;
        bottom: 265px;
        left: 128px;
        width: 60px;
    }
    .main-section-figure-figcaption {
        width: 236px;
        position: relative;
        color: #e5e5e5;
        font-size: 15px;
        bottom: -93px;
        left: 94px;
    }
    .footer {
        padding: 0px 0px 0px 0px;
        background-color: #000000;
    }
    .footer-h3 {
        font-size: 30px;
        color: #e5e5e5;
        position: relative;
        top: 89px;
        left: -25px;
    }
    .footer-image1 {
        position: absolute;
        right: 320px;
        top: 463px;
        width: 40px;
    }
    .footer-image2 {
        position: absolute;
        right: 268px;
        top: 463px;
        width: 40px;
    }
    .footer-image3 {
        position: absolute;
        right: 217px;
        top: 463px;
        width: 40px;
    }
    .footer-image4 {
        position: absolute;
        right: 166px;
        top: 463px;
        width: 40px;
    }
    .footer-image5 {
        position: absolute;
        right: 118px;
        top: 464px;
        width: 40px;
    }
    .footer-image6 {
        position: absolute;
        right: 69px;
        top: 464px;
        width: 40px;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {
    .header-nav-h2 {
        align-content: center;
        font-size: 30px;
        color: white;
        position: relative;
        left: -52px;
        top: -14px;
        display: block;
    }
    .main-section-figure1 {
        position: absolute;
        top: 52px;
        left: 120px;
        width: 60px;
    }
    .main-section {
        position: absolute;
        top: 115px;
        left: 118px;
        color: #e5e5e5;
        font-size: 15px;
    }
    .main-section-figure2 {
        margin-left: 650px;
        margin-top: 65px;
        width: 60px;
        position: relative;
        left: -561px;
    }
    .main-section-figure {
        position: absolute;
        left: 67px;
        top: 220px;
        color: #e5e5e5;
        font-size: 15px;
    }
    .main-section-figure3 {
        position: absolute;
        bottom: 265px;
        left: 128px;
        width: 60px;
    }
    .main-section-figure-figcaption {
        width: 236px;
        position: relative;
        color: #e5e5e5;
        font-size: 15px;
        bottom: -93px;
        left: 94px;
    }
    .footer {
        padding: 0px 0px 0px 0px;
        background-color: #000000;
    }
    .footer-h3 {
        font-size: 30px;
        color: #e5e5e5;
        position: relative;
        top: 89px;
        left: -50px;
    }
    .footer-image1 {
        position: absolute;
        right: 366px;
        top: 463px;
        width: 40px;
    }
    .footer-image2 {
        position: absolute;
        right: 315px;
        top: 463px;
        width: 40px;
    }
    .footer-image3 {
        position: absolute;
        right: 265px;
        top: 463px;
        width: 40px;
    }
    .footer-image4 {
        position: absolute;
        right: 212px;
        top: 464px;
        width: 40px;
    }
    .footer-image5 {
        position: absolute;
        right: 165px;
        top: 464px;
        width: 40px;
    }
    .footer-image6 {
        position: absolute;
        right: 118px;
        top: 464px;
        width: 40px;
    }
}


