
.title{
    color:#e5e5e5;
}
.body{
    background-color: #000000;
}
.header-nav-h2{
    width: 300px;
    position: relative;
    left: 650px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;

}
.header-nav-h2-span{
    color: #0085FF;

}


.section1{
    position: absolute;
    background:#487eb0;
    width: 300px;
    height: 300px;
    left:50px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section2{
    position: absolute;
    background:#00427D;
    top:300px;
    width: 300px;
    height: 300px;
    left:425px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section3{
    position: absolute;
    background: #487eb0;
    width: 300px;
    height: 300px;
    left: 800px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section4{
    position: absolute;
    background:#00427D;
    top:300px;
    width: 300px;
    height: 300px;
    left:1170px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section5{
    position: absolute;
    background: #487eb0;
    top:500px;
    width: 300px;
    height: 300px;
    left:50px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section6{
    position: absolute;
    background:#00427D;
    top:650px;
    width: 300px;
    height: 300px;
    left: 425px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section7{
    position: absolute;
    background: #487eb0;
    top:500px;
    width: 300px;
    height: 300px;
    left: 800px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section8{
    position: absolute;
    background:#00427D;
    top:650px;
    width: 300px;
    height: 300px;
    left: 1170px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section9{
    position: absolute;
    background: #487eb0;
    top:850px;
    width: 300px;
    height: 300px;
    left:50px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.section10{
    position: absolute;
    background:#00427D;
    top:1000px;
    width: 300px;
    height: 300px;
    left: 425px;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}

.main-section1{
    position: relative;
    top: 110px;
    text-decoration: none;
    margin-left:25px;
    color:white;
    font-size: 36px;
    font-family: Roboto;
}
.main-section2{
    position: relative;
    top: 110px;
    text-decoration: none;
    margin-left: 40px;
    color:white;
    font-size: 36px;
    font-family: Roboto;
}
.main-section3{
    position: relative;
    top: 110px;
    text-decoration: none;
    margin-left: 40px;
    color:white;
    font-size: 36px;
    font-family: Roboto;
}

.main-section4{
    position: relative;
    top: 110px;
    text-decoration: none;
    margin-left: 40px;
    color:white;
    font-size: 36px;
    font-family: Roboto;
}


.main-section5{
    position: relative;
    top:130px;
    text-decoration: none;
    margin-left:25px;
    color:white;
    font-size: 36px;
    font-family: Roboto;
}
.main-section5-span{
    color: black;
}
.main-section6{
    position: relative;
    top: 100px;
    text-decoration: none;
    margin-left: 40px;
    color:white;
    font-size: 36px;
    font-family: Roboto;
}
.main-section6-span{
    color: black;
}
.main-section7{
    position: relative;
    top: 120px;
    text-decoration: none;
    margin-left: 50px;
    color:white;
    font-size: 36px;
    font-family: Roboto;
}
.main-section7-span{
    color: red;
}
.main-section8{
    position: relative;
    top: 115px;
    text-decoration: none;
    margin-left: 50px;
    color:white;
    font-size: 36px;
    font-family: Roboto;
}
.main-section8-span{
    color: red;
}
.main-section9{
    position: relative;
    top:130px;
    text-decoration: none;
    margin-left:25px;
    color:white;
    font-size: 36px;
    font-family: Roboto;
}
.main-section9-span{
    color: red;
}
.main-section10{
    position: relative;
    top: 150px;
    text-decoration: none;
    margin-left: 40px;
    color:white;
    font-size: 36px;
    font-family: Roboto;
}
.main-section10-span{
    color: red;
}
a:hover{
    cursor: pointer;
    color: darkblue;
}
@keyframes test {
    from{
        transform:rotate(240deg);
    }
}
