.title{
    color:#e5e5e5;
}
.body{
    background-color: #1D1D1D;
}
.header-nav-h2{
    width: 300px;
    position: relative;
    left: 500px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.header-nav-h2-span {
    color: #0085FF;

}
.main-section1{
    text-decoration: none;
    color: cornsilk;
}
.main-section2{
    text-decoration: none;
    color: cornsilk;
}
section {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #1b57a3;
    position: absolute;
    margin: auto;
    left:-400px;
    right: 0;
    top: 0;
    bottom: 0;
}

section > h2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: max-content;
    height: max-content;
    color: white;
    font-size: 30px;
    font-family: Ubuntu;
    z-index: 3;
}


section::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 20px solid #eeeeee;
    border-top: 20px solid #ff253a;
    border-radius: 100%;
    animation: rotar 10s infinite running;
}
.section2{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #1b57a3;
    position: absolute;
    margin: auto;
    left:500px;
    right: 0;
    top: 0;
    bottom: 0;
}

section2::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 20px solid #eeeeee;
    border-top: 20px solid #0c4128;
    border-radius: 100%;
    animation: rotar 10s infinite running;
}
section2 > h2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: max-content;
    height: max-content;
    color: white;
    font-size: 30px;
    font-family: Ubuntu;
    z-index: 3;
}
@keyframes rotar {
    from {
        transform: rotate(0deg);
        transition: all 5s;
    } to {
              transform: rotate(360deg);
              transition: all 5s;
      }
}