
.title {
    color: #e5e5e5;
}

.body {
    background-color: #000000;
}

.img {
    position: relative;
    top: 30px;

}

.header-nav-h4 {
    position: relative;
    bottom: 600px;
    text-decoration: none;
    color: #e5e5e5;
    font-size: 24px;
    padding-left: 500px;
    animation-name: testOne;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 1;
}

.header-nav-h4-u {
    color: #0085FF;
    font-family: Roboto;
}

.header-nav-h4-u-span {
    text-decoration: none;
    color: #e5e5e5;
    padding-left: 45px;
}

a:hover {
    cursor: pointer;
    color: #0085FF;
}

.main-p {
    position: absolute;
    bottom: 180px;
    padding-left: 850px;
    color: #e5e5e5;
    font-size: 50px;
    font-family: Roboto;
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 1;
}

p:hover {
    cursor: pointer;
    color: #0085FF;

}

.main-p-span {
    color: #0085FF;
    font-size: 50px;
    font-family: Roboto;
}

.span {
    padding-right: 200px;
}

.span1 {
    padding-right: 320px;
}

@keyframes test {
    from {
        transform: rotate(90deg);
        color: #0085FF;
    }

}

@keyframes testOne {
    from {
        transform: translate(300px);
        color: #0085FF;
    }
}

@media all and (min-width: 320px) and (max-width: 375px) {
    .img {
        width: 569px;
        height: 494px;
        position: relative;
        top: 30px;
    }

    .header-nav-h4 {
        position: relative;
        text-decoration: none;
        color: #e5e5e5;
        font-size: 11px;
        position: relative;
        left: -22px;
        top: -500px;
        padding-left: 0px;
        animation-name: testOne;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }

    .header-nav-h4-u-span {
        text-decoration: none;
        color: #e5e5e5;
        padding-left: -47px;
    }

    .header-nav-h4-u-span {
        text-decoration: none;
        color: #e5e5e5;
        padding-left: -82px;
    }

    .main-p {
        position: absolute;
        bottom: 211px;
        padding-left: 61px;
        color: #e5e5e5;
        font-size: 25px;
        font-family: Roboto;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }

    .main-p-span {
        color: #0085FF;
        font-size: 32px;
        font-family: Roboto;
    }
}
    @media all and (min-width: 375px) and (max-width: 425px) {
        .img {
            position: relative;
            top: 30px;
            width: 571px;
            height: 494px;
        }

        .header-nav-h4 {
            position: relative;
            bottom: 500px;
            text-decoration: none;
            color: #e5e5e5;
            font-size: 9px;
            left: -34px;
            padding-left: 0px;
            animation-name: testOne;
            animation-duration: 2s;
            animation-direction: alternate;
            animation-iteration-count: 1;
        }

        .main-p {
            position: absolute;
            bottom: 204px;
            padding-left: 32px;
            color: #e5e5e5;
            font-size: 26px;
            font-family: Roboto;
            animation-name: test;
            animation-duration: 2s;
            animation-direction: alternate;
            animation-iteration-count: 1;
        }
        .main-p-span {
            color: #0085FF;
            font-size: 31px;
            font-family: Roboto;
        }

    }
@media all and (min-width: 425px) and (max-width: 768px) {
        .img {
            position: relative;
            top: 30px;
            width: 571px;
            height: 494px;
        }

        .header-nav-h4 {
            position: relative;
            bottom: 500px;
            text-decoration: none;
            color: #e5e5e5;
            font-size: 9px;
            left: -34px;
            padding-left: 0px;
            animation-name: testOne;
            animation-duration: 2s;
            animation-direction: alternate;
            animation-iteration-count: 1;
        }

    .main-p {
        position: absolute;
        bottom: 204px;
        padding-left: 64px;
        color: #e5e5e5;
        font-size: 26px;
        font-family: Roboto;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
        .main-p-span {
            color: #0085FF;
            font-size: 31px;
            font-family: Roboto;
        }

    }
@media all and (min-width: 768px) and (max-width: 1024px) {
    .img {
        position: relative;
        top: 11px;
        width: 445px;
        height: 282px;
    }

    .header-nav-h4 {
        position: relative;
        bottom: 280px;
        text-decoration: none;
        color: #e5e5e5;
        font-size: 4px;
        left: -38px;
        padding-left: -13px;
        animation-name: testOne;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }

    .main-p {
        position: absolute;
        bottom: 347px;
        padding-left: 186px;
        color: #e5e5e5;
        font-size: 19px;
        font-family: Roboto;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
    .main-p-span {
        color: #0085FF;
        font-size: 25px;
        font-family: Roboto;
    }
    }
@media all and (min-width: 1024px) and (max-width: 1440px) {
    .img {
        position: relative;
        top: 34px;
        width: 674px;
        height: 419px;
    }

    .header-nav-h4 {
        position: relative;
        bottom: 431px;
        text-decoration: none;
        color: #e5e5e5;
        font-size: 20px;
        left: -23px;
        padding-left: 162px;
        animation-name: testOne;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }

    .main-p {
        position: absolute;
        bottom: 212px;
        padding-left: 541px;
        color: #e5e5e5;
        font-size: 35px;
        font-family: Roboto;
        animation-name: test;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: 1;
    }
    .main-p-span {
        color: #0085FF;
        font-size: 46px;
        font-family: Roboto;
    }
    }

