
.title{
    color:#e5e5e5;
}
.body{
    background-color: #000000;
}
.header-nav-h2{
    width: 300px;
    padding-left: 680px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.span{
    margin-left: 80px;
}
.header-nav-h2-span{
    color: #0085FF;

}
.main-section-h4{
    padding-left: 200px;
    color: #e5e5e5;
    font-size: 36px;
    font-family: Roboto;
}
span:hover{
    cursor: pointer;
    color: #0085FF;
}
.main-section-h4-span{
    color: #0085FF;
}
.span-image1{
    position: absolute;
    padding-top: 60px;
    padding-left: 400px;
    opacity:40%;

}
.span-image2{
    padding-left: 600px;
    filter: brightness(150%);
}
.span-image3{
    position: absolute;
    padding-top: 60px;
    right: 380px;
    opacity:40%;
}
