
.title{
    color: #e5e5e5;
}
.body{
    background-color: #000000;
}
.main-section-h2{
    width: 300px;
    position: relative;
    left: 700px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;

}

.main-section-h2-span{
    color: #0085FF;
}
.main-section-dl{
    width: 300px;
    position: relative;
    left: 400px;
    font-size: 32px;
    color: #e5e5e5;
    font-family: Roboto;
}
.section-div{
    width: 228px;
    padding-left:500px;
    height: 40px;
    position: relative;
    bottom: 30px;
    background: #1d33ab;
    color: white;
    box-shadow: 1px 2px 3px 2px #3a483b;
    transition: all 2s;
}
.main-section-dl-dd{
    padding-bottom: 35px;
}
dd:hover{
    cursor: pointer;
    color: #0085FF;
}
.footer{

    background-color: #201B1B;
    padding: 30px 10px 100px 60px;
}
.footer-h2{
    alignment: center;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.footer-h2-span{
    color: #0085FF;
}
.footer-image1{
   position: relative;
    right:325px;
}
.footer-image2{
    position: relative;
    right:225px;
}
.footer-image3{
    position: relative;
    right:125px;
}
.footer-image4{
    position: relative;
    right:25px;
}

.footer-image5{
    position: relative;
    left:100px;
}

.footer-image6{
    position: relative;
    left:200px;
}
.footer-image7{
    position: relative;
    left:300px;
}