
.title{
    color: #e5e5e5;
}
.body{
    background-color: #000000;
}
.main-section-h2{
    width: 300px;
    position: relative;
    left: 700px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;

}

.main-section-h2-span{
    color: #0085FF;
}
.main-section-dl{
    width: 300px;
    position: relative;
    left: 400px;
    font-size: 32px;
    color: #e5e5e5;
    font-family: Roboto;
}
.section-div{
    position: relative;
    bottom: 30px;
    left: 35px;
    width: 550px;
    height: 25px;
    background: #0085FF;
    transition-duration: 5s, 2s, 10s;
}
div:hover{
    cursor: pointer;
    width: 90%;
    transition-duration: 5s, 2s, 10s;
}
.section-div2{
    position: relative;
    bottom:30px;
    left: 35px;
    width: 800px;
    height: 25px;
    background: #0085FF;
    transition-duration: 5s, 2s, 10s;
}
div2:hover{
    cursor: pointer;
    width: 750px;
    transition-property: width;
}
.section-div3{
    position: relative;
    bottom: 30px;
    left: 35px;
    width: 750px;
    height: 25px;
    background: #0085FF;
    transition-duration: 5s, 2s, 10s;
}
div3:hover{
    cursor: pointer;
    width: 650px;
}
.section-div4{
    position: relative;
    bottom: 30px;
    left: 35px;
    width: 650px;
    height: 25px;
    background: #0085FF;
    transition-duration: 5s, 2s, 10s;
}
div4:hover{
    cursor: pointer;
    width: 550px;
}
.section-div5{
    position: relative;
    bottom: 30px;
    left: 35px;
    width: 550px;
    height: 25px;
    background: #0085FF;
    transition-duration: 5s, 2s, 10s;
}
div5:hover{
    cursor: pointer;
    width: 450px;
}
.section-div6{
    position: relative;
    bottom: 30px;
    left: 35px;
    width: 450px;
    height: 25px;
    background: #0085FF;
    transition-duration: 5s, 2s, 10s;
}
div6:hover{
    cursor: pointer;
    width: 350px;
}
.section-div7{
    position: relative;
    bottom: 30px;
    left: 35px;
    width: 350px;
    height: 25px;
    background: #0085FF;
    transition-duration: 5s, 2s, 10s;
}
div7:hover{
    cursor: pointer;
    width: 300px;
}
.main-section-dl-dd{
    padding-bottom: 35px;
}
.footer{
    background-color: #201B1B;
    padding: 30px 10px 100px 60px;
}
.footer-h2{
    alignment: center;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.footer-h2-span{
    color: #0085FF;
}
.footer-image1{
   position: relative;
    right:325px;
}
.footer-image2{
    position: relative;
    right:225px;
}
.footer-image3{
    position: relative;
    right:125px;
}
.footer-image4{
    position: relative;
    right:25px;
}

.footer-image5{
    position: relative;
    left:100px;
}

.footer-image6{
    position: relative;
    left:200px;
}
.footer-image7{
    position: relative;
    left:300px;
}
@media all and (min-width: 320px) and (max-width: 375px) {
    .main-section-h2 {
        width: 300px;
        position: relative;
        left: 120px;
        top: -22px;
        color: #e5e5e5;
        font-size: 33px;
        font-family: Roboto;
    }
    .main-section-dl {
        width: 300px;
        position: relative;
        left: 7px;
        font-size: 15px;
        color: #e5e5e5;
        font-family: Roboto;
    }
    .main-section-dl-dd {
        padding-bottom: 30px;
    }
    .section-div {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 150px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div2 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 250px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div3 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 225px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div4 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 200px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div5 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 175px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div6 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 150px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div7 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 100px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .footer {
        background-color: #000000;
        padding: -230px 0px 0px 0px;
    }
    .footer-h2 {
        alignment: center;
        position: relative;
        left: -25px;
        top: -193px;
        color: #e5e5e5;
        font-size: 36px;
        font-family: Roboto;
    }
    .footer-image1 {
        position: relative;
        right: 19px;
        top: -206px;
    }
    .footer-image2 {
        position: relative;
        right: -51px;
        top: -205px;
    }
    .footer-image3 {
        position: relative;
        right: 180px;
        top: -97px;
    }
    .footer-image4 {
        position: relative;
        right: -88px;
        top: -197px;
    }
    .footer-image5 {
        position: relative;
        left: -149px;
        top: -100px;
    }
    .footer-image6 {
        position: relative;
        left: 94px;
        top: -183px;
    }
    .footer-image7 {
        position: relative;
        left: -67px;
        top: -96px;
    }
}
