
.title{
    color: #e5e5e5;
}
.body{
    background-color: #000000;
}
.main-section-h2{
    width: 300px;
    position: relative;
    left: 700px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;

}

.main-section-h2-span{
    color: #0085FF;
}

.bg {
    position: absolute;
    top: 9px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    background-size: contain;
}
.main-section-dl{
    width: 300px;
    position: relative;
    left: 550px;
    font-size: 30px;
    color: #e5e5e5;
    font-family: Roboto;
}
.bar {
    position: relative;
    height: 25px;
    background: #6a6a6a;
    width:  0%;
    top: 0px;
    left: 580px;
    margin-top: 8px;
    animation: fill 3s infinite alternate, colors 3s infinite alternate;
}

.bar.fill1 {
    animation: fill-1 3s infinite alternate, colors 3s infinite alternate;
}

.bar.fill2 {
    animation:  fill-2 3s infinite alternate, colors 3s infinite alternate;
}


.bar.fill3 {
    animation:  fill-3 3s infinite alternate, colors 3s infinite alternate;
}


.bar.fill4 {
    animation:  fill-4 3s infinite alternate, colors 3s infinite alternate;
}

.bar.fill5 {
    animation:  fill-5 3s infinite alternate, colors 3s infinite alternate;
}

.bar.fill6 {
    animation:  fill-6 3s infinite alternate, colors 3s infinite alternate;
}



@keyframes fill {
    33%  { width: 30px;}
    66%  { width: 10px;}
    100% { width: 205px; }
}

@keyframes fill-1 {
    33%  { width: 50px;}
    66%  { width: 20px;}
    100% { width: 450px; }
}

@keyframes fill-2 {
    33%  { width: 90px;}
    66%  { width: 70px;}
    100% { width: 236px; }
}

@keyframes fill-3 {
    33%  { width: 50px;}
    66%  { width: 24px;}
    100% { width: 309px; }
}

@keyframes fill-4 {
    33%  { width: 98px;}
    66%  { width: 34px;}
    100% { width: 150px; }
}

@keyframes fill-5 {
    33%  { width: 30px;}
    66%  { width: 10px;}
    100% { width: 248px; }
}


@keyframes fill-6 {
    33%  { width: 48px;}
    66%  { width: 22px;}
    100% { width: 440px; }
}

@keyframes colors {
    0% { background-color: #5a5a5a;}
    50% { background-color: #0085FF;}
    100% { background-color: #0085FF;}
}
.footer{
    background-color: #201B1B;
    padding: 30px 10px 100px 60px;
}
.footer-h2{
    alignment: center;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.footer-h2-span{
    color: #0085FF;
}
.footer-image1{
   position: relative;
    right:325px;
}
.footer-image2{
    position: relative;
    right:225px;
}
.footer-image3{
    position: relative;
    right:125px;
}
.footer-image4{
    position: relative;
    right:25px;
}

.footer-image5{
    position: relative;
    left:100px;
}

.footer-image6{
    position: relative;
    left:200px;
}
.footer-image7{
    position: relative;
    left:300px;
}

@media all and (min-width: 320px) and (max-width: 375px) {
    .main-section-h2 {
        width: 300px;
        position: relative;
        left: 120px;
        top: -22px;
        color: #e5e5e5;
        font-size: 33px;
        font-family: Roboto;
    }
    .main-section-dl {
        width: 300px;
        position: relative;
        left: 7px;
        font-size: 15px;
        color: #e5e5e5;
        font-family: Roboto;
    }
    .main-section-dl-dd {
        padding-bottom: 30px;
    }
    .section-div {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 150px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div2 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 250px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div3 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 225px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div4 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 200px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div5 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 175px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div6 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 150px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div7 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 100px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .footer {
        background-color: #000000;
        padding: -230px 0px 0px 0px;
    }
    .footer-h2 {
        alignment: center;
        position: relative;
        left: -25px;
        top: -193px;
        color: #e5e5e5;
        font-size: 36px;
        font-family: Roboto;
    }
    .footer-image1 {
        position: relative;
        right: 19px;
        top: -206px;
    }
    .footer-image2 {
        position: relative;
        right: -51px;
        top: -205px;
    }
    .footer-image3 {
        position: relative;
        right: 180px;
        top: -97px;
    }
    .footer-image4 {
        position: relative;
        right: -88px;
        top: -197px;
    }
    .footer-image5 {
        position: relative;
        left: -149px;
        top: -100px;
    }
    .footer-image6 {
        position: relative;
        left: 94px;
        top: -183px;
    }
    .footer-image7 {
        position: relative;
        left: -67px;
        top: -96px;
    }
}
@media all and (min-width: 375px) and (max-width: 425px) {
    .main-section-h2 {
        width: 300px;
        position: relative;
        left: 120px;
        top: -22px;
        color: #e5e5e5;
        font-size: 33px;
        font-family: Roboto;
    }
    .main-section-dl {
        width: 300px;
        position: relative;
        left: 7px;
        font-size: 15px;
        color: #e5e5e5;
        font-family: Roboto;
    }
    .main-section-dl-dd {
        padding-bottom: 30px;
    }
    .section-div {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 150px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div2 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 250px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div3 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 225px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div4 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 200px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div5 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 175px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div6 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 150px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div7 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 100px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .footer {
        background-color: #000000;
        padding: -230px 0px 0px 0px;
    }
    .footer-h2 {
        alignment: center;
        position: relative;
        left: -45px;
        top: -193px;
        color: #e5e5e5;
        font-size: 36px;
        font-family: Roboto;
    }
    .footer-image1 {
        position: relative;
        right: 64px;
        top: -206px;
    }
    .footer-image2 {
        position: relative;
        right: 45px;
        top: -205px;
    }
    .footer-image3 {
        position: relative;
        right: 24px;
        top: -203px;
    }
    .footer-image4 {
        position: relative;
        right: 59px;
        top: -197px;
    }
    .footer-image5 {
        position: relative;
        left: -55px;
        top: -211px;
    }
    .footer-image6 {
        position: relative;
        left: -39px;
        top: -210px;
    }
    .footer-image7 {
        position: relative;
        left: -44px;
        top: -187px;
    }
}
@media all and (min-width: 425px) and (max-width: 768px) {
    .main-section-h2 {
        width: 300px;
        position: relative;
        left: 120px;
        top: -22px;
        color: #e5e5e5;
        font-size: 33px;
        font-family: Roboto;
    }
    .main-section-dl {
        width: 300px;
        position: relative;
        left: 15px;
        font-size: 15px;
        color: #e5e5e5;
        font-family: Roboto;
    }
    .main-section-dl-dd {
        padding-bottom: 30px;
    }
    .section-div {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 150px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div2 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 250px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div3 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 225px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div4 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 200px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div5 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 175px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div6 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 150px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div7 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 100px;
        height: 10px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .footer {
        background-color: #000000;
        padding: -230px 0px 0px 0px;
    }
    .footer-h2 {
        alignment: center;
        position: relative;
        left: -45px;
        top: -193px;
        color: #e5e5e5;
        font-size: 36px;
        font-family: Roboto;
    }
    .footer-image1 {
        position: relative;
        right: 92px;
        top: -206px;
    }
    .footer-image2 {
        position: relative;
        right: 73px;
        top: -205px;
    }
    .footer-image3 {
        position: relative;
        right: 50px;
        top: -203px;
    }
    .footer-image4 {
        position: relative;
        right: 90px;
        top: -197px;
    }
    .footer-image5 {
        position: relative;
        left: -77px;
        top: -211px;
    }
    .footer-image6 {
        position: relative;
        left: -65px;
        top: -210px;
    }
    .footer-image7 {
        position: relative;
        left: -63px;
        top: -187px;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    .main-section-h2 {
        width: 300px;
        position: relative;
        left: 225px;
        top: -22px;
        color: #e5e5e5;
        font-size: 44px;
        font-family: Roboto;
    }
    .main-section-dl {
        width: 300px;
        position: relative;
        left: 65px;
        font-size: 22px;
        color: #e5e5e5;
        font-family: Roboto;
    }
    .main-section-dl-dd {
        padding-bottom: 30px;
    }
    .section-div {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 250px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div2 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 450px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div3 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 375px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div4 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 325px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div5 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 300px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div6 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 175px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div7 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 100px;
        width: 100px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .footer-h2 {
        alignment: center;
        position: relative;
        left: -110px;
        top: -193px;
        color: #e5e5e5;
        font-size: 44px;
        font-family: Roboto;
    }
    .footer-image1 {
        position: relative;
        right: 74px;
        top: -206px;
    }
    .footer-image2 {
        position: relative;
        right: 5px;
        top: -205px;
    }
    .footer-image3 {
        position: relative;
        right: -65px;
        top: -203px;
    }
    .footer-image4 {
        position: relative;
        right: -110px;
        top: -197px;
    }
    .footer-image5 {
        position: relative;
        left: -365px;
        top: -106px;
    }
    .footer-image6 {
        position: relative;
        left: -285px;
        top: -104px;
    }
    .footer-image7 {
        position: relative;
        left: -225px;
        top: -100px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1440px){
    .main-section-h2 {
        width: 300px;
        position: relative;
        left: 350px;
        top: -22px;
        color: #e5e5e5;
        font-size: 37px;
        font-family: Roboto;
    }
    .main-section-dl {
        width: 300px;
        position: relative;
        left: 160px;
        font-size: 28px;
        color: #e5e5e5;
        font-family: Roboto;
    }
    .main-section-dl-dd {
        padding-bottom: 30px;
    }
    .section-div {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 350px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div2 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 450px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div3 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 375px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div2 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 400px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div5 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 300px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div6 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 175px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .section-div7 {
        position: relative;
        bottom: 30px;
        left: 35px;
        width: 100px;
        width: 100px;
        height: 15px;
        background: #0085FF;
        transition-duration: 5s, 2s, 10s;
    }
    .footer {
        background-color: black;
        padding: 30px 10px 100px 60px;
    }
    .footer-h2 {
        alignment: center;
        position: relative;
        left: -160px;
        top: -190px;
        color: #e5e5e5;
        font-size: 42px;
        font-family: Roboto;
    }
    .footer-image1 {
        position: relative;
        right: 200px;
        top: -232px;
    }
    .footer-image2 {
        position: relative;
        right: 180px;
        top: -227px;
    }
    .footer-image3 {
        position: relative;
        right: 145px;
        top: -222px;
    }
    .footer-image4 {
        position: relative;
        right: 120px;
        top: -205px;
    }
    .footer-image5 {
        position: relative;
        left: -95px;
        top: -223px;
    }
    .footer-image6 {
        position: relative;
        left: -76px;
        top: -220px;
    }
    .footer-image7 {
        position: relative;
        left: -72px;
        top: -215px;
    }
}
