.title{
    color:#e5e5e5;
}
.body{
    background-color: #1D1D1D;
}
.header-nav-h2{
    width: 300px;
    position: relative;
    left: 700px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;

}
.header-nav-h2-span{
    color: #0085FF;
}

button {
    animation: wiggle 2s linear infinite;
}
button1 {
    animation: wiggle 2s linear infinite;
}


@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

body {
    background: #000;
}

button {
    position: absolute;
    left:400px;
    top:250px;
    height: 10em;
    width: 15em;
    background: #444;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 10px solid #0085FF;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    transform-origin: 50% 5em;
}
button1 {
    position: absolute;
    left:900px;
    top:250px;
    height: 10em;
    width: 15em;
    background: #444;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 10px solid #0085FF;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    transform-origin: 50% 5em;
}
.text{
    text-decoration: none;
    color: cornsilk;
    font-size: 35px;
    font-family: Helvetica, Arial, Sans-serif;
    position: relative;
    left: -10px;
    top:-10px;
}
.text1{
    text-decoration: none;
    color: cornsilk;
    font-size: 35px;
    font-family: Helvetica, Arial, Sans-serif;
    position: relative;
    left: 60px;
    top:50px;
}
a:hover{
    cursor: pointer;
    color: #0085FF;
}