
.body{
    background-color: #000000;
}
.header-nav-h2{
    width: 300px;
    position: absolute;
    left: 550px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.header-nav-h2-span{
    color: #0085FF;

}
p:hover{
    color: #0085FF;
}
.div{
    animation-name: test;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count:1;
}
.p1{
    position:absolute;
    top: 150px;
    left: 150px;
    color: #e5e5e5;
    font-size: 25px;
    font-family: Roboto;
}
.img1{
    position:absolute;
    top: 250px;
    left: 100px;
    border: 5px solid #0085FF;
    border-radius: 20px;
}
.p2{
    position:absolute;
    bottom: 490px;
    left: 600px;
    color: #e5e5e5;
    font-size: 25px;
    font-family: Roboto;
}
.img2{
    position:absolute;
    bottom: 250px;
    left: 600px;
    border: 5px solid #0085FF;
    border-radius: 20px;
}
.p3{
    position:absolute;
    top: 150px;
    left: 1100px;
    color: #e5e5e5;
    font-size: 25px;
    font-family: Roboto;
}
.img3{
    position:absolute;
    top:280px;
    left: 1100px;
    border: 5px solid #0085FF;
    border-radius: 20px;
}

.p4{
    position:absolute;
    top: 500px;
    left: 150px;
    color: #e5e5e5;
    font-size: 25px;
    font-family: Roboto;
}
.img4{
    position:absolute;
    top: 600px;
    left: 100px;
    border: 5px solid #0085FF;
    border-radius: 20px;
}
.p5{
    position:absolute;
    top: 500px;
    left: 650px;
    color: #e5e5e5;
    font-size: 25px;
    font-family: Roboto;
}
.img5{
    position:absolute;
    top: 600px;
    left: 600px;
    border: 5px solid #0085FF;
    border-radius: 20px;
}
.p6{
    position:absolute;
    top: 500px;
    left: 1150px;
    color: #e5e5e5;
    font-size: 25px;
    font-family: Roboto;
}
.img6{
    position:absolute;
    top: 600px;
    left: 1100px;
    border: 5px solid #0085FF;
    border-radius: 20px;
}
@keyframes test {
    from{
        transform: translate(300px);
    }
}
@media all and (min-width: 320px) and (max-width: 375px) {
    .header-nav-h2 {
        width: 300px;
        position: absolute;
        left: 65px;
        color: #e5e5e5;
        font-size: 25px;
        font-family: Roboto;
    }
    .p1 {
        position: absolute;
        top: 55px;
        left: 90px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img1 {
        position: absolute;
        top: 115px;
        left: 55px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p2 {
        position: absolute;
        bottom: 300px;
        left: 45px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img2 {
        position: absolute;
        bottom: 190px;
        left: 57px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p3 {
        position: absolute;
        top: 390px;
        left: 54px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img3 {
        position: absolute;
        top: 450px;
        left: 56px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p4 {
        position: absolute;
        top: 560px;
        left: 77px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img4 {
        position: absolute;
        top: 600px;
        left: 60px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p5 {
        position: absolute;
        top: 740px;
        left: 90px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img5 {
        position: absolute;
        top: 780px;
        left: 58px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p6 {
        position: absolute;
        top: 920px;
        left: 90px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img6 {
        position: absolute;
        top: 980px;
        left: 55px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
}

@media all and (min-width: 375px) and (max-width: 425px) {
    .header-nav-h2 {
        width: 300px;
        position: absolute;
        left: 65px;
        color: #e5e5e5;
        font-size: 25px;
        font-family: Roboto;
    }
    .p1 {
        position: absolute;
        top: 55px;
        left: 90px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img1 {
        position: absolute;
        top: 115px;
        left: 55px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p2 {
        position: absolute;
        bottom: 300px;
        left: 45px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img2 {
        position: absolute;
        bottom: 190px;
        left: 57px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p3 {
        position: absolute;
        top: 390px;
        left: 54px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img3 {
        position: absolute;
        top: 450px;
        left: 56px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p4 {
        position: absolute;
        top: 560px;
        left: 77px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img4 {
        position: absolute;
        top: 600px;
        left: 60px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p5 {
        position: absolute;
        top: 740px;
        left: 90px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img5 {
        position: absolute;
        top: 780px;
        left: 58px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p6 {
        position: absolute;
        top: 920px;
        left: 90px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img6 {
        position: absolute;
        top: 980px;
        left: 55px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
}
@media all and (min-width: 425px) and (max-width: 768px){
    .header-nav-h2 {
        width: 300px;
        position: absolute;
        left: 65px;
        color: #e5e5e5;
        font-size: 25px;
        font-family: Roboto;
    }
    .p1 {
        position: absolute;
        top: 55px;
        left: 90px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img1 {
        position: absolute;
        top: 115px;
        left: 70px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p2 {
        position: absolute;
        bottom: 300px;
        left: 60px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img2 {
        position: absolute;
        bottom: 190px;
        left: 72px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p3 {
        position: absolute;
        top: 390px;
        left: 75px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img3 {
        position: absolute;
        top: 450px;
        left: 72px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p4 {
        position: absolute;
        top: 560px;
        left: 95px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img4 {
        position: absolute;
        top: 600px;
        left: 72px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p5 {
        position: absolute;
        top: 740px;
        left: 106px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img5 {
        position: absolute;
        top: 780px;
        left: 72px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p6 {
        position: absolute;
        top: 920px;
        left: 103px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img6 {
        position: absolute;
        top: 980px;
        left: 72px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    .header-nav-h2 {
        width: 300px;
        position: absolute;
        left: 225px;
        color: #e5e5e5;
        font-size: 25px;
        font-family: Roboto;
    }
    .p1 {
        position: absolute;
        top: 55px;
        left: 90px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img1 {
        position: absolute;
        top: 115px;
        left: 70px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p2 {
        position: absolute;
        bottom: 478px;
        left: 350px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img2 {
        position: absolute;
        bottom: 352px;
        left: 355px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p3 {
        position: absolute;
        top: 241px;
        left: 70px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img3 {
        position: absolute;
        top: 305px;
        left: 60px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p4 {
        position: absolute;
        top: 239px;
        left: 382px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img4 {
        position: absolute;
        top: 305px;
        left: 355px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p5 {
        position: absolute;
        top: 460px;
        left: 80px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img5 {
        position: absolute;
        top: 510px;
        left: 55px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p6 {
        position: absolute;
        top: 459px;
        left: 385px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img6 {
        position: absolute;
        top: 520px;
        left: 355px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1440px){
    .header-nav-h2 {
        width: 300px;
        position: absolute;
        left: 320px;
        color: #e5e5e5;
        font-size: 25px;
        font-family: Roboto;
    }
    .p1 {
        position: absolute;
        top: 55px;
        left: 55px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img1 {
        position: absolute;
        top: 115px;
        left: 45px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p2 {
        position: absolute;
        bottom: 478px;
        left: 330px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img2 {
        position: absolute;
        bottom: 352px;
        left: 335px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p3 {
        position: absolute;
        top: 55px;
        left: 610px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img3 {
        position: absolute;
        top: 115px;
        left: 600px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p4 {
        position: absolute;
        top: 239px;
        left: 60px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img4 {
        position: absolute;
        top: 305px;
        left: 45px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p5 {
        position: absolute;
        top: 242px;
        left: 365px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img5 {
        position: absolute;
        top: 305px;
        left: 330px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
    .p6 {
        position: absolute;
        top: 240px;
        left: 615px;
        color: #e5e5e5;
        font-size: 15px;
        font-family: Roboto;
    }
    .img6 {
        position: absolute;
        top: 305px;
        left: 595px;
        border: 5px solid #0085FF;
        border-radius: 24px;
        width: 200px;
    }
}
