.html{
    background-color: #000000;
}
.title{
    color: #e5e5e5;
}
.header-nav-h2{
    margin-left: 650px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.header-nav-h2-span{
    color: #0085FF;

}

.section{
    margin: 100px;
    color: #0085FF;

}
.main-section{
    align-content: center;
    color: #e5e5e5;
    font-size: 40px;
    font-family: Roboto;
}
.main-section-span{
    font-size: 42px;
    font-family: Roboto;
}
.main-p{
    align-content: center;
    color: #e5e5e5;
    background-color: #0085FF;
    font-size: 36px;
    font-family: Roboto;
}
a:hover{
    color: darkblue;
}