.html{
    background-color: #000000;
}
.title{
    color: #e5e5e5;
}
.header-nav-h2 {
    align-content: center;
    display: contents;
    font-size: 55px;
    color: white;
}
.header-nav-h2-span{
    color: #0085FF;
}

.main-section{
    color: #e5e5e5;
    font-size: 30px;
}
.main-section-figure {
   /*alignment: center;*/
    color: #e5e5e5;
    font-size: 30px;


}
.main-section-figure-figcaption{
    alignment: right;
    color: #e5e5e5;
    font-size: 30px;

}


.footer {
    padding: 10px 20px 150px 80px;
    background-color:#201B1B;
}

.footer-h3{
    font-size: 50px;
    color: #e5e5e5;
}


.footer-h3-span{
    color: #0085FF;
}


