
.title{
    color: #e5e5e5;
}
.body{
    background-color: #000000;
}
.header-nav-h2{
    width: 300px;
    position: relative;
    left: 650px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.header-nav-h2-span{
    color: #0085FF;
}

.main-section-figure{
color: #e5e5e5;
    font-size: 30px;
    font-family: Roboto;
}
.main-section-figure-figcaption{
    color: #e5e5e5;
    font-size: 36px;
    font-family: Roboto;
}
.figure1{
    position: relative;
    top: 450px;
left: 50px;
}
.figure2{
    position: relative;
    bottom: 200px;
    right: 100px;
}
.figure3{
   position: relative;
    bottom: 850px;
    right: 200px;
}
.figure4{
    position: relative;
    bottom: 1250px;
    left: 1300px;
}
.figure5{
    position: relative;
    bottom: 1255px;
    left: 1335px;
}