
.title{
    color:#e5e5e5;
}
.body{
    background-color: #000000;
}
.header-nav-h2{
    width: 300px;
    position: relative;
    left: 650px;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.span{
    margin-left: 80px;
}
.header-nav-h2-span{
    color: #0085FF;

}
.main-section-h4{
    margin-left: 150px;
    color: #e5e5e5;
    font-size: 36px;
    font-family: Roboto;
}
span:hover{
    color: #0085FF;
}
.main-section-h4-span{
    color: #0085FF;
}
.img1{
    position: relative;
    left: 90px;
}
.img2{
    position: relative;


}
.img3{
    position: relative;

}