.html{
    background-color: #000000;
}
.title{
    color: #e5e5e5;
}
.main-section-h2{
    alignment: center;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;

}
.main-section-h2-span{
    color: #0085FF;
}
.main-section-dl{
    font-size: 32px;
    color: #e5e5e5;
    font-family: Roboto;
}
.footer{

    background-color: #201B1B;
    padding: 10px 20px 150px 80px;
}
.footer-h2{
    alignment: center;
    color: #e5e5e5;
    font-size: 55px;
    font-family: Roboto;
}
.footer-h2-span{
    color: #0085FF;
}